extends webpage.pug

block styles
    link(rel="stylesheet" href="../stylesheets/style.css")

block scripts
    script(src='../javascripts/game-search.js' defer=true) 
    script. 
        let games = !{JSON.stringify(games)};
        let id = #{id}

block content
    div
        h1 #{displayName}
        if id
            button Change

    div.game-list
        ul
            each val in games
                div.game-container
                    li= val.name
                    button Remove
        if id
            button#add-game Add
            button#change Change

    div#search-dialog
        form#search-form
            input(type="text")
            button(type="submit") Search
        button#search-prev= '<'
        button#search-next= '>'
        div#search-results

    